@import '_constants.scss';
@import '_mixins.scss';


.spinner {
  stroke: $bright;
  position: absolute;
  left: calc(50% - 23px);
  top: calc(50% - 23px);
}

$offset: 120;
$duration: 1.4s;

.spinner {
  animation: rotation $duration linear infinite;

  .path {
    stroke-dasharray: $offset;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: dash $duration ease-in-out infinite;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: $offset;
  }
  50% {
    stroke-dashoffset: calc($offset / 4);
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: $offset;
    transform: rotate(450deg);
  }
}


