/** PALETTES : DÉGRADÉ DES COULEURS DU THÈME, PAS UTILISÉ DIRECTEMENT **/

$--grey-50: #f9fafb;
$--grey-100: #eceff6;
$--grey-200: #d0d5e1;
$--grey-300: #b6bfcb;
$--grey-400: #969faf;
$--grey-500: #697180;
$--grey-600: #4f5763;
$--grey-700: #404754;
$--grey-800: #2b323c;
$--grey-900: #1c212c;
$--grey-950: #0a0c12;

$--orange-50: #ffebe6;
$--orange-100: #ffd9cf;
$--orange-200: #feb5a2;
$--orange-300: #fe8e71;
$--orange-400: #fe6842;
$--orange-500: #fd4719;
$--orange-600: #f33506;
$--orange-700: #d62e04;
$--orange-800: #b02b09;
$--orange-900: #7c240e;
$--orange-950: #3e150b;

$--red-50: #fef2f4;
$--red-100: #fee2e7;
$--red-200: #fecad4;
$--red-300: #fca5b5;
$--red-400: #f8718a;
$--red-500: #ef4463;
$--red-600: #dc2647;
$--red-700: #b91c39;
$--red-800: #991b32;
$--red-900: #7f1d2f;
$--red-950: #450a15;

$--green-blue-a: #1e7e6b;
$--green-blue-b: #1b7f82;
$--green-blue-c: #20748e;
$--green-blue-d: #256b98;
$--green-blue-e: #3161a3;

/** TOKENS DE COULEURS **/

/** TOKENS CONTEXTUELS THÈME SOMBRE, À UTILISER VIA LES VARIABLES CSS **/
@mixin context-dark {
  --on-surface: #{$--grey-100};
  --surface: #{$--grey-900};
  --surface-shadow: black;

  --on-surface-container: #{$--grey-100};
  --surface-container: #{$--grey-800};
  --surface-container-shadow: #{$--grey-950};

  --on-inverse-surface-container: #{$--grey-950};
  --inverse-surface-container: #{$--grey-100};

  --on-error-container: #{$--red-200};
  --error-container: #{$--red-900};
  --error-container-shadow: #{$--red-950};

  --primary-content: #{$--orange-400};
  --secondary-content: #{$--grey-300};
  --error-content: #{$--red-500};
}

/** TOKENS CONTEXTUELS THÈME CLAIR, À UTILISER VIA LES VARIABLES CSS **/
@mixin context-bright {
  --on-surface: #{$--grey-950};
  --surface: white;
  --surface-shadow: #{$--grey-300};

  --on-surface-container: #{$--grey-950};
  --surface-container: #{$--grey-100};
  --surface-container-shadow: #{$--grey-400};

  --on-error-container: #{$--red-950};
  --error-container: #{$--red-200};
  --error-container-shadow: #{$--red-300};

  --primary-content: #{$--orange-700};
  --secondary-content: #{$--grey-600};
  --error-content: #{$--red-700};
}

/** TOKENS FIXES, UTILISABLES DIRECTEMENT **/

$on-primary: $--grey-950;
$primary: $--orange-500;
$primary-shadow: $--orange-800;
$primary-dim: $--orange-200;

$on-secondary: black;
$secondary: $--grey-300;
$secondary-shadow: $--grey-500;

$on-tertiary: $--grey-50;
$tertiary-a: $--green-blue-a;
$tertiary-b: $--green-blue-b;
$tertiary-c: $--green-blue-c;
$tertiary-d: $--green-blue-d;
$tertiary-e: $--green-blue-e;

$on-error: $--red-950;
$error: $--red-500;
$error-shadow: $--red-800;

$shadow-dark: #00000044;
