$bright: #e9e9e9;
$less-bright: #a4a4a4;
$bright-overlay: #ffffff25;

$more-dark: #070707;
$dark: #212121;
$less-dark: #424242;
$dark-overlay: #00000013;
$dark-shadow: #00000044;

$light-accent: #fa5a32;
$accent: #fd4719;
$dark-accent: #9f3015;

$red: #ef3d5d;
