@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&text=%E2%86%90%E2%86%92&display=swap');

@font-face {
  font-family: 'Zincons';
  src: url('@/assets/fonts/zincons-3.woff2');
  unicode-range: U+E000-EFFF;
}
