@use 'sass:math';
@use 'sass:list';

@use './colors.scss';
@use 'utils';

//======= STYLES DE BASE POUR LES BALISES HTML ========================================================================/

body {
  font-family: 'Hanken Grotesk', 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 12pt;
  margin: 0;
  padding: 0;

  &.g-public {
    @include colors.context-dark;
    background-color: var(--surface);

    @include utils.media-desktop {
      background-color: white;
      background-image: url('/external-background.svg');
      background-position: bottom right;
      background-attachment: fixed;
    }

    #app {
      @include utils.flexbox(row, center, center);
      min-height: 100dvh;
      box-sizing: border-box;

      @include utils.media-desktop {
        padding: 26px;
      }
    }
  }

  &.g-protected {
    @include colors.context-bright;
    background-color: var(--surface-container);

    #app {
      @include utils.flexbox(row, stretch, center);
      height: 100dvh;
      box-sizing: border-box;
    }
  }
}

a,
button.g-link {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

a,
button {
  &.g-back::before {
    content: '←';
    margin-right: 1ch;
    display: inline-block;
  }

  &.g-fwd::before {
    content: '→';
    margin-right: 1ch;
    display: inline-block;
  }
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='submit'],
button {
  min-width: 0;
  display: inline-block;
  line-height: 1.5;
  vertical-align: middle;
  background-color: transparent;
  border: none;
  border-radius: 0;
  font-family: inherit;
  color: inherit;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;

  &[disabled] {
    opacity: 0.6;
  }
}

button,
input[type='submit'] {
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  outline: none;
  text-align: center;
  cursor: pointer;

  &.g-list-item {
    text-align: left;
    font-weight: 400;
    padding: 0.575rem 0.75rem;
    width: 100%;

    &:hover {
      background-color: var(--surface-container);
    }
  }

  &.g-link {
    padding: 0;
    display: inline-block;
    background: none;
  }

  &.g-flat {
    color: var(--on-surface);
    transition: background-color 0.15s ease-in-out;

    &:hover {
      background-color: var(--surface-container);
    }

    &.g-primary {
      color: var(--primary-content);
    }

    &.g-secondary {
      color: var(--secondary-content);
    }

    &.g-error {
      color: var(--error-content);
    }
  }

  &.g-raised {
    border-bottom: 4px solid transparent;
    text-align: center;

    &:active {
      margin-top: 2px;
      border-bottom-width: 2px;
    }

    &.g-primary {
      background-color: colors.$primary;
      color: colors.$on-primary;
      border-color: colors.$primary-shadow;
    }

    &.g-secondary {
      background-color: colors.$secondary;
      color: colors.$on-secondary;
      border-color: colors.$secondary-shadow;
    }

    &.g-error {
      background-color: colors.$error;
      color: colors.$on-error;
      border-color: colors.$error-shadow;
    }
  }
}

label {
  user-select: none;
}

ul {
  padding-left: 1em;
  list-style: '•  ';

  &.g-no-bullet,
  &.g-list {
    padding-left: 0;
    display: block;
    list-style: none;
  }

  &.g-flush {
    margin: 0;
  }

  > li {
    margin: 0.5rem 0;
  }

  &.g-list > li {
    margin: 0;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid colors.$secondary;
  }

  &.g-list.g-flush > li {
    padding: 0;
  }
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

thead th {
  border-bottom: 1px solid var(--on-surface);
  background-color: var(--surface);
  text-align: left;
}

tbody td {
  border-bottom: 1px solid colors.$secondary;
}

tr.g-active {
  color: var(--on-surface-container);
  background-color: var(--surface-container);
}

td,
th {
  padding: 8px 5px;
}

hr {
  border: 0 solid black;
  border-top-width: 1px;
  width: 100%;

  &.g-flush-bottom {
    margin-bottom: 0;
  }
}

p.g-flush {
  margin: 0;
}

//======= CLASSES GLOBALES ============================================================================================/

.g-center {
  text-align: center;
}

.g-left {
  text-align: left;
}

.g-right {
  text-align: right;
}

.g-justify {
  text-align: justify;
}

.g-no-display {
  display: none;
}

.g-block {
  display: block;
}

.g-invisible {
  visibility: hidden;
}

.g-grow {
  flex-grow: 1;
}

.g-grow-shrink-1 {
  flex: 1 1;
}

.g-even-size > * {
  flex: 1 1 0;
}

.g-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.g-no-gap {
  gap: unset !important;
}

.g-small-gap {
  gap: 0.5rem !important;
}

.g-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  &.g-right {
    text-align: unset;
    justify-content: flex-end;
  }
}

.g-dim {
  font-style: italic;
  color: var(--secondary-content);
}

@for $size from 0 through 20 {
  .g-w-#{$size * 5} {
    width: $size * 5%;
  }
}

.g-badge {
  display: inline-block;
  padding: 0.25em 0.65em;
  margin: -0.2em 0.4em;

  background-color: colors.$secondary;
  color: colors.$on-secondary;

  font-size: 0.8em;

  &.g-variant-a {
    color: colors.$on-tertiary;
    background-color: colors.$tertiary-a;
  }

  &.g-variant-b {
    color: colors.$on-tertiary;
    background-color: colors.$tertiary-b;
  }

  &.g-variant-c {
    color: colors.$on-tertiary;
    background-color: colors.$tertiary-c;
  }

  &.g-variant-d {
    color: colors.$on-tertiary;
    background-color: colors.$tertiary-d;
  }

  &.g-variant-e {
    color: colors.$on-tertiary;
    background-color: colors.$tertiary-e;
  }
}

.g-text-error {
  color: var(--error-content);
}

.g-text-secondary {
  color: var(--secondary-content);
}

.g-box {
  background-color: var(--surface-container);
  color: var(--on-surface-container);
  padding: 1rem 1rem;

  &.g-error {
    background-color: var(--error-container);
    color: var(--on-error-container);
  }
}

.g-width-full {
  width: 100%;
}

.g-height-full {
  height: 100%;
}

.g-min-height-0 {
  min-height: 0;
}

@each $ratio in (1 2, 1 3, 2 3, 1 4, 3 4, 1 6, 5 6) {
  $num: list.nth($ratio, 1);
  $den: list.nth($ratio, 2);
  .g-flex-#{$num}-#{$den} {
    flex: 1 1 (math.div($num, $den) * 100%);
  }
}

.g-section-heading {
  font-size: 1rem;
  margin: 0;
}

//======= ANIMATIONS ==================================================================================================/

@keyframes popup {
  from {
    transform: scale(0.9);
  }
  to {
    transform: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
