@import './colors.scss';
@import './mixins.scss';

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&text=%E2%86%90%E2%86%92&display=swap');

//======= STYLES DE BASE POUR LES BALISES HTML ========================================================================/

body {
  font-family: 'Hanken Grotesk', 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 12pt;
  margin: 0;
  padding: 0;

  &.public {
    background-color: $dark;

    @include media-desktop {
      background-color: white;
      background-image: url('/external-background.svg');
      background-position: bottom right;
      background-attachment: fixed;
    }

    #app {
      @include flexbox(row, center, center);
      min-height: 100vh;
      min-height: 100dvh;
      box-sizing: border-box;

      @include media-desktop {
        padding: 26px;
      }
    }
  }

  &.protected {
    background-color: $bright;

    #app {
      @include flexbox(row, stretch, center);
      height: 100vh;
      height: 100dvh;
      box-sizing: border-box;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

a,
button {
  &.back::before {
    content: '←';
    margin-right: 1ch;
    display: inline-block;
  }

  &.fwd::before {
    content: '→';
    margin-right: 1ch;
    display: inline-block;
  }
}

input,
button {
  padding: 8px 12px;

  font-family: inherit;
  color: inherit;
  font-size: inherit;

  &[disabled] {
    opacity: 0.6;
  }
}

ul {
  &.no-bullet {
    padding-left: 0;
    display: block;
    list-style: none;
  }

  > li {
    margin: 10px 0;
  }
}

thead tr {
  border-bottom: 1px solid black;
}

tbody tr {
  border-bottom: 1px solid $bright;
}

td, th {
  padding: 8px 5px;
}

hr {
  border: 0 solid black;
  border-top-width: 1px;
}

//======= CLASSES GLOBALES ============================================================================================/

.g-centered {
  text-align: center;
}

.g-no-display {
  display: none;
}

.g-invisible {
  visibility: hidden;
}

.g-grow {
  flex-grow: 1;
}

.g-column {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 20px;
}

.g-no-gap {
  gap: unset;
}

.g-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
}

.g-em {
  font-style: italic;
  color: $less-dark;
}

.g-justify {
  text-align: justify;
}

//======= ANIMATIONS ==================================================================================================/

@keyframes popup {
  from {
    transform: scale(0.9);
  }
  to {
    transform: none;
  }
}