@import './colors.scss';
@import './mixins.scss';

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&text=%E2%86%90%E2%86%92&display=swap');

//======= STYLES DE BASE POUR LES BALISES HTML ========================================================================/

body {
  font-family: 'Hanken Grotesk', 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 12pt;
  margin: 0;
  padding: 0;

  &.g-public {
    background-color: $grey-10;

    @include media-desktop {
      background-color: white;
      background-image: url('/external-background.svg');
      background-position: bottom right;
      background-attachment: fixed;
    }

    #app {
      @include flexbox(row, center, center);
      min-height: 100vh;
      min-height: 100dvh;
      box-sizing: border-box;

      @include media-desktop {
        padding: 26px;
      }
    }
  }

  &.g-protected {
    background-color: $grey-90;

    #app {
      @include flexbox(row, stretch, center);
      height: 100dvh;
      box-sizing: border-box;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

a,
button {
  &.g-back::before {
    content: '←';
    margin-right: 1ch;
    display: inline-block;
  }

  &.g-fwd::before {
    content: '→';
    margin-right: 1ch;
    display: inline-block;
  }
}

input,
button {
  padding: 8px 12px;

  font-family: inherit;
  color: inherit;
  font-size: inherit;

  &[disabled] {
    opacity: 0.6;
  }
}

ul {
  &.g-no-bullet {
    padding-left: 0;
    display: block;
    list-style: none;
  }

  > li {
    margin: .5rem 0;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead tr {
  border-bottom: 1px solid black;
}

tbody tr {
  border-bottom: 1px solid $grey-90;
}

td, th {
  padding: 8px 5px;
}

hr {
  border: 0 solid black;
  border-top-width: 1px;
}

//======= CLASSES GLOBALES ============================================================================================/

.g-center {
  text-align: center;
}

.g-left {
  text-align: left;
}

.g-right {
  text-align: right;
}

.g-justify {
  text-align: justify;
}

.g-no-display {
  display: none;
}

.g-invisible {
  visibility: hidden;
}

.g-grow {
  flex-grow: 1;
}

.g-column {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
}

.g-no-gap {
  gap: unset;
}

.g-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
}

.g-em {
  font-style: italic;
  color: $grey-25;
}

.g-align-start {
  align-items: flex-start;
}

@for $size from 0 through 20 {
  .g-w-#{$size * 5} {
    width: $size * 5%;
  }
}

.g-badge {
  display: inline-block;
  padding: 0 .4em;
  margin: 0.4em;

  background-color: $grey-70;
  color: white;

  font-size: 80%;
  @include all-caps;

  @each $n, $tint in $tints {
    &.g-tint-#{$n} {
      background-color: $tint;
    }
  }
}

.g-spacing-bottom {
  margin-bottom: 6px;
}

//======= ANIMATIONS ==================================================================================================/

@keyframes popup {
  from {
    transform: scale(0.9);
  }
  to {
    transform: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

//======= ICÔNES ======================================================================================================/

@font-face {
  font-family: "Zincons";
  src: url("src/assets/fonts/zincons.woff2");
  unicode-range: U+E000-EFFF;
}