@mixin allcaps {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1ch;
}

@mixin flexbox($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin media-desktop {
  @media screen and (min-width: 540px) {
    @content;
  }
}

@mixin animation-popup {
  animation: 0.15s ease-out forwards popup;
}