/**
 * PLACEZ ICI TOUTES LES RÈGLES COMMUNES AUX AUTRES FEUILLES DE STYLE
 */

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;600&display=swap');

body {
  font-family: 'Hanken Grotesk', 'Roboto', 'Fira Sans', 'Arial', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}